mat-form-field{
    padding: 5px;
}

.float-right{
    float: right;
}

table{
    width: 100%;
}

mat-card{
    padding-bottom: 30px !important;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: rgb(189, 157, 132);
}